 /* .league-spartan-<uniquifier> {
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }  */

body{
    font-family:"League Spartan", sans-serif; 
}